.suggestionGroup {
    &.c-suggestion-otherfrom {
        width: 95%;
        display: inline-block;
        padding-top: 70px;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
    .typeofcontent {
        background-color: #ffffff;
    }
}